
body {background-color:black;
font-family: Arial;
color: white;

}
h1{
  color: grey;
font-family: verdana;
}
.maindiv {
  background-color:white;
  color: black;
  width:500px;
  padding: 20px 20px ;
  border-radius:25px;
  
}

section{
  margin-left: 100px;
  padding-bottom: 20px;
  font-weight: bold;
}

#principal{
  margin-left:60px;
}

#rate{ margin-left: 25px;
background-color: blue; }

#years{ margin-left: 30px; }
footer { font-weight: bold; }